<div id="header">
			<div class="thanh-tim-kiem">
				<div class="flag">
					<img style="max-width: 100%; max-height: 100%; display: block;" src ="/images/flag-vn.jpg">
				</div>
				<div class="flag">
					<img style="max-width: 100%; max-height: 100%; display: block;" src="/images/flag-en.jpg">
				</div>
				<div class="search">
					<input type="text" placeholder="Tìm Kiếm..."><i style="height: 19px;" class="fas fa-search"></i>
				</div>
				<div class="menu">
					<i class="fas fa-bars"></i>
					<p>Menu</p>
				</div>
			</div>
			<div id="logo"  style="margin-left: 5%;">
				<img style="max-width: 100%; max-height: 100%; display: block; " src="/images/logo-uef-home.jpg"
					alt="logo">
			</div>
			<div id="nar-bar2">
					<ul>
							<li><a href="#"><i class="fas fa-home"></i> Trang Chủ</a></li>
							<li><a href="#">Sinh Viên UEF</a></li>
							<li><a href="#">Phòng- Trung Tâm</a></li>
							<li><a href="#">Khoa</a></li>
							<li><a href="#">Đoàn Hội</a></li>
							<li><a href="#">Thư viện</a></li>
							<li><a href="#">Tạp chí UEF</a></li>
							<li><a href="#">Liên Hệ</a></li>
							<li><a href="#">Đăng Nhập</a></li>
						</ul>
			</div>
			<div id="nar-bar1">
					<ul>
						<li><a href="#">GIỚI THIỆU</a></li>
						<li><a href="#">THẾ MẠNH UEF</a></li>
						<li>
							<a href="#">HƯỚNG NGHIỆP</a>
							<ul class="sub-bar">
								<li><a href="#">Tin Hướng Nghiệp</a></li>
								<li><a href="#">Trắc Nghiệm chọn nghề</a></li>
								<li><a href="#">Kĩ năng thành công</a></li>
								<li><a href="#">Góc ảnh hướng nghiệp</a></li>
							</ul>
						</li>
						<li><a href="#">TUYỂN SINH</a></li>
						<li><a href="#">NGÀNH ĐÀO TẠO</a></li>
						<li><a href="#">VIỆN QUỐC TẾ</a></li>
						<li><a href="#">DOANH NGHIỆP</a></li>
						
						<li class="hide-nar-bar"><a href="#">SINH VIÊN UEF</a></li>
						<li class="hide-nar-bar"><a href="#">PHÒNG-TRUNG TÂM</a></li>
						<li class="hide-nar-bar"><a href="#">KHOA</a></li>
						<li class="hide-nar-bar"><a href="#">ĐOÀN HỘI</a></li>
						<li class="hide-nar-bar"><a href="#">THƯ VIỆN</a></li>
						<li class="hide-nar-bar"><a href="#">TẠP CHÍ UEF</a></li>
						<li class="hide-nar-bar"><a href="#">LIÊN HỆ</a></li>
						<li class="hide-nar-bar"><a href="#">ĐĂNG NHẬP</a></li>
					</ul>
				</div>
		</div>